@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


.custom-toast-success {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 16px rgba(50, 180, 90, 0.4),
      inset 0px 2px 4px rgba(255, 255, 255, 0.25);
    font-family: "Poppins", sans-serif;
  }
 
.Toastify__progress-bar {
    background: linear-gradient(90deg, #00ffcc, #00aaff);
    height: 6px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .custom-toast-error {
    background: rgba(255, 69, 100, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 16px rgba(255, 69, 100, 0.4),
      inset 0px 2px 4px rgba(255, 255, 255, 0.25);
    font-family: "Poppins", sans-serif;
  }
  
  .custom-toast-info {
    background: rgba(0, 160, 255, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 8px 16px rgba(0, 160, 255, 0.4),
      inset 0px 2px 4px rgba(255, 255, 255, 0.25);
    font-family: "Poppins", sans-serif;
  }
  
  .toast-container {
    font-size: 1rem;
    line-height: 1.5;
    animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 3s;
  }
  
 
  @keyframes fadeIn {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
  